* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/cesar-couto-sKuVjm0xyLY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
body .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .header-content .img-log {
  margin-top: 0.5rem;
  height: 3rem;
  width: 3rem;
  background-color: white;
  margin-left: 1.5rem;
  border-radius: 8px;
  background-image: url("../img/logo.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
body .header-content .search {
  width: -moz-fit-content;
  width: fit-content;
}
body .header-content .search .search-bar {
  font-size: medium;
  margin-top: 1rem;
  width: 25rem;
  height: 2rem;
  border-radius: 8px;
  outline: none;
  padding: 2px 15px;
}
body .header-content .search i {
  position: relative;
  right: 2rem;
  font-size: large;
}
body .header-content .nav-bar {
  display: flex;
  flex-direction: row;
  margin-left: 20rem;
  width: 30rem;
  justify-content: space-between;
}
body .header-content .nav-bar .menu-icon {
  margin-top: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: end;
  font-size: 2.5rem;
  margin-right: 0.5rem;
}
body .header-content .nav-bar div {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
body .header-content .nav-bar div .link {
  margin-top: 1.5rem;
  margin-left: 3rem;
  font-size: large;
  text-decoration: none;
  color: white;
}
body .home {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
}
body .home .Products {
  display: flex;
  justify-content: space-around;
  margin-left: 23rem;
  margin-right: 23rem;
}
body .home .Products .pro-detail .first-price {
  margin-top: 1rem;
  margin-left: 10%;
  color: white;
  font-weight: 700;
  font-size: large;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: line-through;
}
body .home .Products .pro-detail .second-price {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 10%;
  color: white;
  font-weight: 700;
  font-size: large;
}
body .home .Products .pro-detail .second-price .buy-btn {
  border-radius: 3px;
  box-shadow: 0px 5px 10px green;
  background-color: rgb(27, 194, 27);
  border: rgb(27, 194, 27);
  width: 3rem;
  color: white;
}
body .home .Products .pro-detail .pro1 {
  height: 10rem;
  width: 10rem;
  background-color: white;
  border-radius: 10px;
  background-image: url("../img/aderal.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px whitesmoke;
}
body .home .Products .pro-detail .pro2 {
  height: 10rem;
  width: 10rem;
  background-color: white;
  border-radius: 10px;
  background-image: url("../img/tylenol.webp");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px whitesmoke;
}
body .home .Products .pro-detail .pro3 {
  height: 10rem;
  width: 10rem;
  background-color: white;
  border-radius: 10px;
  background-image: url("../img/zantac.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 15px whitesmoke;
}
body .home .promotion {
  color: white;
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  margin-top: 4rem;
}
body .home .get-button {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
}
body .home .get-button .btn-home {
  width: 15rem;
  height: 2.5rem;
  font-size: larger;
  border-radius: 20px;
  outline: none;
  background-color: rgb(0, 153, 255);
  color: white;
  border: solid rgb(0, 153, 255);
  box-shadow: 0px 5px 15px rgb(0, 89, 255);
}
body .about .about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem;
  margin-top: 4rem;
}
body .about .about-container .company-info {
  color: black;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 5px 15px white;
}
body .about .about-container .company-info h4 {
  padding-bottom: 1rem;
}
body .about .about-container .company-info span {
  display: none;
}
body .about .about-container .company-info .more-btn {
  margin: 1rem;
  padding: 0.6rem;
  font-size: small;
  font-weight: 600;
  border-radius: 25px;
  background-color: rgb(0, 153, 255);
  border: none;
  color: white;
}
body .about .about-container .company-misssion {
  color: black;
  margin-bottom: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 9.5rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 5px 15px white;
}
body .about .about-container .company-misssion h4 {
  padding-bottom: 1rem;
}
body .about .privacy-policy {
  color: black;
  margin-bottom: 2rem;
  margin-left: 30%;
  background-color: white;
  width: 40%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 5px 15px white;
}
body .about .privacy-policy h4 {
  padding-bottom: 1rem;
}
body .about .social-media {
  display: flex;
  justify-content: end;
  margin: 3rem;
}
body .about .social-media h3 {
  padding-bottom: 0.5rem;
}
body .about .social-media a {
  margin-right: 1rem;
  font-size: larger;
  font-weight: 800;
  margin-left: 0.25rem;
}

footer {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  height: 11rem;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 13rem;
}
footer .first-col h3 {
  margin-bottom: 1rem;
}
footer .first-col p {
  margin-bottom: 1rem;
  color: brown;
}
footer .second-col h3 {
  margin-bottom: 1rem;
}
footer .second-col p {
  margin-bottom: 1rem;
  color: brown;
}
footer .third-col h3 {
  margin-bottom: 1rem;
}
footer .third-col p {
  margin-bottom: 1rem;
  color: brown;
}/*# sourceMappingURL=home_after.css.map */