* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/cesar-couto-sKuVjm0xyLY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    .header-content {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
        // background-color: rgb(192, 192, 192);
        background-color: #576c7c;
        .img-log {
            margin-top: 0.5rem;
            height: 3rem;
            width: 3rem;
            background-color: white;
            margin-left: 1.5rem;
            border-radius: 8px;
            background-image: url("../img/logo.jpeg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .nav-bar {
            display: flex;
            flex-direction: row;
            margin-left: 20rem;
            width: 30rem;
            justify-content: space-between;
            margin-right: 3rem;
            div {
                display: flex;
                flex-direction: row;
                justify-content: start;
                .link {
                    margin-top: 1.5rem;
                    margin-left: 3rem;
                    font-size: large;
                    font-weight: 600;
                    text-decoration: none;
                    color: white;
                }
            }
            .create_acc {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: medium;
                    font-weight: 700;
                }
                background-color: rgb(32,
                192,
                32);
                width: 5rem;
                height: 2rem;
                margin-top: 1rem;
                border-radius: 8px;
                border-color: rgb(32,
                192,
                32);
                border-bottom: rgb(32,
                192,
                32);
                border-right: rgb(32,
                192,
                32);
                box-shadow: 0px 5px 8px rgb(21,
                167,
                21);
                margin-left: 3rem;
            }
            .log_acc {
                a {
                    text-decoration: none;
                    color: white;
                    font-size: medium;
                    font-weight: 700;
                }
                background-color: rgb(32,
                192,
                32);
                width: 5rem;
                height: 2rem;
                margin-top: 1rem;
                border-radius: 8px;
                border-color: rgb(32,
                192,
                32);
                border-bottom: rgb(32,
                192,
                32);
                border-right: rgb(32,
                192,
                32);
                box-shadow: 0px 5px 8px rgb(21,
                167,
                21);
            }
        }
    }
    .home {
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        .Products {
            display: flex;
            justify-content: space-around;
            margin-left: 23rem;
            margin-right: 23rem;
            padding-top: 4rem;
            .pro-detail {
                .first-price {
                    margin-top: 1rem;
                    margin-left: 10%;
                    color: white;
                    font-weight: 700;
                    font-size: large;
                    width: fit-content;
                    text-decoration: line-through;
                }
                .second-price {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                    margin-left: 10%;
                    color: white;
                    font-weight: 700;
                    font-size: large;
                    .buy-btn {
                        border-radius: 3px;
                        box-shadow: 0px 5px 10px green;
                        background-color: rgb(27, 194, 27);
                        border: rgb(27, 194, 27);
                        width: 3rem;
                        color: white;
                    }
                }
                .pro1 {
                    height: 10rem;
                    width: 10rem;
                    background-color: white;
                    border-radius: 10px;
                    background-image: url("../img/aderal.webp");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    box-shadow: 0px 5px 15px whitesmoke;
                }
                .pro2 {
                    height: 10rem;
                    width: 10rem;
                    background-color: white;
                    border-radius: 10px;
                    background-image: url("../img/tylenol.webp");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    box-shadow: 0px 5px 15px whitesmoke;
                }
                .pro3 {
                    height: 10rem;
                    width: 10rem;
                    background-color: white;
                    border-radius: 10px;
                    background-image: url("../img/zantac.jpg");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    box-shadow: 0px 5px 15px whitesmoke;
                }
            }
        }
        .promotion {
            color: white;
            display: block;
            justify-content: center;
            text-align: center;
            font-weight: 700;
            font-size: x-large;
            margin-top: 4rem;
        }
        .get-button {
            display: flex;
            justify-content: center;
            padding-top: 2rem;
            padding-bottom: 8rem;
            .btn-home {
                width: 15rem;
                height: 2.5rem;
                font-size: larger;
                border-radius: 20px;
                outline: none;
                background-color: rgb(0, 153, 255);
                color: white;
                border: solid rgb(0, 153, 255);
                box-shadow: 0px 5px 15px rgb(0, 89, 255);
            }
        }
    }
    .about {
        padding-top: 5rem;
        h1 {
            display: flex;
            justify-content: center;
            color: white;
            font-weight: 800;
        }
        .about-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 3rem;
            margin-top: 4rem;
            .company-info {
                h4 {
                    padding-bottom: 1rem;
                }
                color: black;
                margin-right: 1rem;
                margin-bottom: 2rem;
                background-color: white;
                width: fit-content;
                height: fit-content;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0px 5px 15px white;
                span {
                    display: none;
                }
                .more-btn {
                    margin: 1rem;
                    padding: 0.6rem;
                    font-size: small;
                    font-weight: 600;
                    border-radius: 25px;
                    background-color: rgb(0, 153, 255);
                    border: none;
                    color: white;
                }
            }
            .company-misssion {
                h4 {
                    padding-bottom: 1rem;
                }
                color: black;
                margin-bottom: 2rem;
                margin-right: 1rem;
                margin-left: 1rem;
                background-color: white;
                width: fit-content;
                height: fit-content;
                height: 9.5rem;
                padding: 1rem;
                border-radius: 8px;
                box-shadow: 0px 5px 15px white;
            }
        }
        .privacy-policy {
            h4 {
                padding-bottom: 1rem;
            }
            color: black;
            margin-bottom: 2rem;
            margin-left: 30%;
            background-color: white;
            width: 40%;
            height: fit-content;
            padding: 1rem;
            border-radius: 8px;
            box-shadow: 0px 5px 15px white;
        }
        .social-media {
            display: flex;
            justify-content: end;
            margin: 3rem;
            h3 {
                padding-bottom: 0.5rem;
            }
            a {
                margin-right: 1rem;
                font-size: larger;
                font-weight: 800;
                margin-left: 0.25rem;
            }
        }
    }
}

footer {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    height: 11rem;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 13rem;
    .first-col {
        h3 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1rem;
            color: brown;
        }
    }
    .second-col {
        h3 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1rem;
            color: brown;
        }
    }
    .third-col {
        h3 {
            margin-bottom: 1rem;
        }
        p {
            margin-bottom: 1rem;
            color: brown;
        }
    }
}